@*@model ExAngularJs.Models.Usuario*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="text-muted; text-center">
    <h1>Lorem Ipsum</h1>
</span>
    <p>

        <span class="text-justify">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"Não há ninguém que ame a dor por si só, que a busque e queira tê-la, simplesmente por ser dor..."

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis egestas odio, et fermentum felis. Ut mauris ex, fermentum ut metus non, facilisis euismod lectus. Vivamus non nunc eget neque malesuada rutrum. Etiam sed mi nisl. Fusce elementum libero non purus vulputate, vitae commodo metus efficitur. Fusce feugiat rutrum lorem quis tempor. Proin ut mi massa. Duis efficitur lacus id tristique tincidunt. Mauris eu mauris vitae purus pulvinar semper quis quis tortor. Nam cursus lobortis semper. Duis rhoncus nec urna vel malesuada. Donec massa mauris, tristique id nisi vel, blandit iaculis est.

Aenean et ipsum et turpis ultricies auctor vel quis lacus. Ut purus massa, pharetra ut vulputate id, mollis et tortor. Phasellus eget accumsan neque. Maecenas tincidunt ligula non lorem porta convallis. Maecenas at erat semper, commodo neque faucibus, euismod nibh. Sed ut elit ut enim condimentum molestie. Suspendisse ipsum mauris, sollicitudin eget dui eu, eleifend convallis libero. Suspendisse venenatis augue in justo eleifend eleifend. Integer congue sapien lacus, quis condimentum urna eleifend nec. Pellentesque sit amet mauris nec augue elementum rhoncus et eget metus. Aliquam facilisis sapien nec odio pharetra, et consectetur nibh rutrum. Nam placerat semper rutrum. Vivamus ullamcorper turpis aliquet dolor maximus, in congue nibh finibus. Aliquam urna enim, luctus vitae ante et, auctor imperdiet ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </span>
    </p>

